#website{
	width:900px;
	margin: 0 auto;
	border:none;
}
body{
	background-image:url("http://3.bp.blogspot.com/-54Fkc_wcfvE/UBMn4o7ihOI/AAAAAAAADSI/BMV7B3rKkFI/s1600/5.jpg");
	background-repeat:no-repeat;
	background-repeat:repeat-x;
	background-color:black;
	margin: 10px;
}

 div {
    border:1px solid black;
  }

#header {
    z-index: 1;
    width: 97.5%;
    margin-top: -20px;
    height: 80px;
    background-color: #696969;
    margin-bottom: 10px;
    width:900px;
    margin: 0 auto;
}

#title {
	text-align:center; 
	margin-left: 5px;
	padding-top: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ccc;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #FF0000;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -5px;
	font-family: Garamond, serif;
	color: #FF0000;
	height: auto;
}

li{
	list-style-type: none;
  	margin-left:10px;
}

a:hover {
	font-weight: bold;
}
a {
	color:#FFFFFF;
}

.left {
	float: left;
	float:top;
	width: 10%;
	height: 500px;
	background-color: #696969;
}

.right {
	position: relative;
	float: right;
	margin-top:10px;
	margin-right:2.3%;
	margin-bottom:10px;
	width:900px;
	margin: 0 auto;
	height: auto;
	background-color: #696969;
	color:black;
}

#footer {
	position: relative;
	height: 50px;
	width: 900px;
	margin: 10px;
	background-color: #696969;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #BDFFDD;
}

#footer p {
	position: relative;
	padding-top: 15px;
	color:red;
}

#Un{
  margin-left:20;
}

#Deux{
 margin-left:25;
}

#Trois{
  margin-left:33;
}

#Quatre{
  margin-left:42;
}
#Cinq{
  margin-left:63;
}
.email{
  width:100px;
}
.subscribe{
  font-size:15px;
  margin-left:10px;
}
.functions{
  margin-left:1000px;
position:fixed;
  margin-bottom:1000px;
}
.navbar {
  background: #ccc;
  overflow: hidden;
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.navbar li {
    display: inline-block;
}
.navbar li a {
  display: block;
  line-height: 50px;
  padding: 0 30px;
  text-decoration: none;
  color: #333;
}
.navbar li a:hover {
  background-color: #999;
  color: #fff;
}
