/*Enter CSS Here*/
body{
	background-color:#FFDDBD;
}

div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	background-color: #BDFFDD;
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #FF0000;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: #FF0000;
}

li {
	list-style-type: square;
}

a:hover {
	font-weight: bold;
}

.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 400px;
	background-color: #BDFFDD;
	margin-bottom: 10px;
}

.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 88%;
	height: 400px;
	background-color: #BDFFDD;
	margin-bottom: 10px;
	color:black;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #BDFFDD;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #BDFFDD;
}

#footer p {
	position: relative;
	padding-top: 15px;
	color:red;
}

#Un{
  margin-left:20;
}

#Deux{
  margin-left:25;
}

#Trois{
  margin-left:33;
}

#Quatre{
  margin-left:42;
}
#Cinq{
  margin-left:63;
}
